<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blueticks.saveenvironment">

    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SaveEnvironment">

        <service android:name=".NotifyWorker"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>
        <activity
            android:name=".Profile"
            android:exported="true" />
        <activity
            android:name=".SecondHandSellling"
            android:exported="true" />
        <activity
            android:name=".sellingProductDetails"
            android:exported="true" />
        <activity
            android:name=".BuyAndSellActivity"
            android:exported="true" />
        <activity
            android:name=".SettingsActivity"
            android:exported="true" />
        <activity
            android:name=".textOfIdea"
            android:exported="true" />
        <activity
            android:name=".ideaShareActivity"
            android:exported="true" />
        <activity
            android:name=".WholeIdeaPage"
            android:exported="true" />
        <activity
            android:name=".SetGoalOfElectricity"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VerifyPhoneNumber"
            android:exported="true" />
        <activity
            android:name=".ElectricityActivity"
            android:exported="true" />
        <activity
            android:name=".SavingMethods"
            android:exported="true" />
        <activity
            android:name=".SignInActivity"
            android:exported="true">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".Register"
            android:exported="true" />
        <activity
            android:name=".TransportActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>